<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userIO" class="com.mthree.ui.UserIOConsoleImpl" />

    <bean id="view" class="com.mthree.ui.FlooringMasteryView">
        <constructor-arg ref="userIO" />
    </bean>

    <bean id="dao" class="com.mthree.dao.FlooringMasteryDaoFileImpl" />

    <bean id="auditDao" class="com.mthree.dao.FlooringMasteryAuditDaoFileImpl" />

    <bean id="service" class="com.mthree.service.FlooringMasteryServiceImpl">
        <constructor-arg ref="dao" />
        <constructor-arg ref="auditDao" />
    </bean>

    <bean id="controller" class="com.mthree.controller.FlooringMasteryController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
    </bean>

</beans>